.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
	gap: 1rem;
	justify-content: center;
	cursor: default;
	width: 100%;
}

.card {
	display: flex;
	overflow: hidden;
	position: relative;
	flex-flow: column wrap;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	&:hover .overlay {
		min-height: 100%;
		background: rgba(0, 0, 0, 0.7);
	}

	&:hover .overlay-content {
		display: flex;
	}
}

.card img {
	transition: all 300ms ease-in-out;
}

.card:hover > img {
	transform: scale(1.2);
}

.overlay {
	position: absolute;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	padding: 2rem;
	transition: all 500ms ease-in-out;
	min-height: 0;
}

.overlay-content {
	transition: all 500ms ease-in-out;
	position: absolute;
	bottom: 0;
	padding: 2rem;
	align-items: center;
	justify-content: center;
	animation: scrollUp 500ms ease-in-out;
	display: none;
}

@keyframes scrollUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
